
CocktailizeSwiftUI.xcodeproj/xcuserdata/anthony.xcuserdatad/xcschemes/xcschememanagement.plist
CocktailizeSwiftUI.xcworkspace/xcuserdata/anthony.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/anthony.xcuserdatad/xcschemes/xcschememanagement.plist
CocktailizeSwiftUI.xcodeproj/*
CocktailizeSwiftUI.xcworkspace/*
.DS_Store

# CocoaPods
Podfile.lock
Pods
*.xcworkspace